<launch>
  <include file="$(find kinect2_calibration_files)/launch/kinect2_bridge_victor_head.launch"/>
  <include file="$(find kinect2_calibration_files)/launch/kinect2_bridge_tripodA.launch"/>

  <include file="$(find lightweight_vicon_bridge)/launch/vicon_bridge.launch">
    <arg name="publish_raw_markers" value="true"/>
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="kinect2_victor_head_mocap_tf_shim_broadcaster" required="true"
        args="0.01492 -0.00593 0.01387 0.03905 0.01103 0.00819
              mocap_Kinect2VictorHead_Kinect2VictorHead kinect2_victor_head_link">
  </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="kinect2_tripodA_mocap_tf_shim_broadcaster" required="true"
          args="0.00654 0.02465 0.00117 0.10311 0.05297 0.04208
                mocap_Kinect2TripodA_Kinect2TripodA kinect2_tripodA_link"/>

  <include file="$(find lightweight_vicon_bridge)/launch/mocap_to_val_static_transform.launch"/>
</launch>
